
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /PersonalWebsiteProject/DAGD_460_PortfolioPage/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /PersonalWebsiteProject/DAGD_460_PortfolioPage/wordpress/index.php [L]
</IfModule>

# END WordPress
